/matches
/deploy/lib
/deploy/bin
*.rms
*.bc17
/build/
/bin/
*.conf
.DS_Store
*.log
*.swp
*.pyc
.gradle
/client/
*.jar
*.iml
*.ipr
*.iws
/.idea/


# User-specific stuff:
battlecode-scaffold.iws
/other_bots/
/src/ben.one
/src/maxdupenois
/src/samwho
/src/swarming
.bundle/

# Eclipse user-specific files
.classpath
.project
.settings/
